<?xml version="1.0" encoding="utf-8" ?>
<PropertyGroup>
	<GenerateResourceMSBuildArchitecture>CurrentArchitecture</GenerateResourceMSBuildArchitecture>
	<GenerateResourceMSBuildRuntime>CurrentRuntime</GenerateResourceMSBuildRuntime>
	<configuration>
		<startup useLegacyV2RuntimeActivationPolicy="true">
			<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
		</startup>
	</configuration>
</PropertyGroup>
